<?xml version="1.0"?>
<configSim xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="config.xsd">
       
	<delta>0.0005</delta>
  	<end>40</end>
  	<output>
  		<dir>vtkOutput/</dir>
  		<filename>drop_vtk</filename>
  		<iterations>50</iterations>
  	</output>
  	<simulationFile>Drop.xml</simulationFile>
  	<!--<saveFile>Drop.xml</saveFile>-->

</configSim>